html {
    background-color: #f0f8ff;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #00ffff;
}

.box:hover {
    animation-name: spinner;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinner {
    0% {
    }

    50% {
        border-radius: 35px;
        background-color: #c9846e;
    }

    100% {
        border-radius: 50px;
        background-color: #ff6347;
    }
}
