* {
    padding: 0;
    margin: 0;
}

.box {
    margin: 10px auto;
    width: fit-content;
    position: relative;
}

i {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

.content {
    margin-left: 10px;
    padding: 3px;
    position: absolute;
    background-color: blue;
    width: fit-content;
    left: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s linear, transform 0.5s ease;
    visibility: hidden;
}

i:hover + .content {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.content:hover {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

li,
ul {
    width: fit-content;
}

ul {
    padding-left: 30px;
}
